.todos {
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  background: black;
  color: white;
  padding: 20px;
}

.list {
  list-style: none;
  padding: 0;
}
.item {
  background: rgb(250, 112, 94);
  padding: 10px;
  width: 400px;
  display: flex;
  margin: 10px auto;
  align-items: center;
}

.item p {
  margin: 0 10px;
  width: 70%;
  text-align: left;
  overflow: hidden;
}

.completed {
  background: rgb(65, 248, 19);
  color: black;
}

.completed p {
  text-decoration: line-through;
}

.vorning {
  color: red;
}
